<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Sobre as Chuvas de Meteoros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre as Chuvas de Meteoros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card href="https://meteoritosbrasil.weebly.com/meteoritos-brasileiros.html" color="success">
  <ion-card-header>
    <ion-card-subtitle>pt-br</ion-card-subtitle>
    <ion-card-title>Meteoritos Brasil</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card href="https://www.imo.net/" color="success">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>International Meteor Organization</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card href="https://www.amsmeteors.org/" color="success">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>American Meteor Society</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card href="https://www.meteorite.com/" color="success">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>Meteorite</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card href="https://solarsystem.nasa.gov/asteroids-comets-and-meteors/meteors-and-meteorites/overview/?page=0&per_page=40&order=id+asc&search=&condition_1=meteor_shower%3Abody_type" color="success">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>Nasa Meteors & Meteorites</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card href="http://press.exoss.org/" color="success">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>Exoss</ion-card-title>
  </ion-card-header>
  </ion-card>

</ion-content>
