<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Sobre o Espaço
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre o Espaço</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card href="https://www.sciencedaily.com/news/space_time/astronomy/" color="danger">
  <ion-card-header>
    <ion-card-subtitle>inglês</ion-card-subtitle>
    <ion-card-title>Sciencedaily.com</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card href="https://astronomy.com/news" color="danger">
<ion-card-header>
  <ion-card-subtitle>inglês</ion-card-subtitle>
  <ion-card-title>Astronomy.com</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="http://www.gemini.edu/news" color="danger">
<ion-card-header>
  <ion-card-subtitle>inglês</ion-card-subtitle>
  <ion-card-title>Gemini.com</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.galeriadometeorito.com/2012/10/ultimas-noticias.html"color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Galeria do Meteorito</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.ccvalg.pt/astronomia/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Astronomia Online</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.tecmundo.com.br/astronomia" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Tecmundo Astronomia</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.bbc.com/portuguese/topics/ckdxnd38v03t" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>BBC Astronomia</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://portaldoastronomo.org/categoria/noticias/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Portal do Astronômo</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://sab-astro.org.br/imprensa/noticias/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Sociedade Astronômica Brasileira</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.zenite.nu/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Zenite</ion-card-title>
</ion-card-header>
</ion-card>






<ion-card href="http://astro.if.ufrgs.br/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Astro.if</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="http://lilith.fisica.ufmg.br/~astrof/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Astrofísica ufmg</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="http://www.astro.ufsc.br/publicacoes/" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Astro Ufsc</ion-card-title>
</ion-card-header>
</ion-card>

<ion-card href="https://www.youtube.com/playlist?list=PLxI8Can9yAHd7kUPviBHxr-49QEl7PRXR" color="danger">
<ion-card-header>
  <ion-card-subtitle>pt-br</ion-card-subtitle>
  <ion-card-title>Curso online univesp</ion-card-title>
</ion-card-header>
</ion-card>


</ion-content>
