<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sobre Tecnologia Espacial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Tecnologia Espacial</ion-title>
    </ion-toolbar>
  </ion-header>


      <ion-card href="https://www.nasa.gov/" color="primary">
      <ion-card-header>
        <ion-card-subtitle>inglês</ion-card-subtitle>
        <ion-card-title >Nasa</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card href="http://www.aeb.gov.br/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>pt-br</ion-card-subtitle>
      <ion-card-title>Agência Espacial Brasileira</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="https://www.visionaespacial.com.br/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>pt-br</ion-card-subtitle>
      <ion-card-title>Visiona</ion-card-title>
    </ion-card-header>
    </ion-card>


    <ion-card href="http://www.esa.int/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>Agência Espacial Europeia</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="https://www.spacex.com/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>SpaceX</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="https://www.virgingalactic.com/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>Virgin Galactic</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="https://www.blueorigin.com/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>Blue Origin</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="https://www.rocketlabusa.com/" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>Rocket Lab</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card href="http://www.braeunig.us/space/index.htm" color="primary">
    <ion-card-header>
      <ion-card-subtitle>inglês</ion-card-subtitle>
      <ion-card-title>braeunig</ion-card-title>
    </ion-card-header>
    </ion-card>

</ion-content>
